wf4_ai_scorer.json
{
  "name": "WF4 — AI Scorer (Poll-Based, Every 15 Min)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "c4bbba24-517e-4813-88ff-6a2a1c30f7bd",
      "name": "Schedule Trigger — Every 15 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        208
      ],
      "notes": "Replaces the Clay webhook trigger. Polls Scored Accounts for Status=Enriched rows. Safe for localhost — no inbound network requirement. Clay no longer needs to reach n8n."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_hKjUHNR_h27QrITATMeFLgHaEvzbWnRiP3qSF-jCyk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1330525134,
          "mode": "list",
          "cachedResultName": "Scored Accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_hKjUHNR_h27QrITATMeFLgHaEvzbWnRiP3qSF-jCyk/edit#gid=1330525134"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Enriched"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "845af08d-2471-41b8-91c4-7e0e856ffa94",
      "name": "Sheets — Get Enriched Accounts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1856,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mCitxoRY2r1cdcjh",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Filter: Status = Enriched. Only rows where Clay has completed enrichment and written back buyer fields + Status. If no rows match, returns one empty item — the IF guard below stops execution cleanly."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_hKjUHNR_h27QrITATMeFLgHaEvzbWnRiP3qSF-jCyk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1576170789,
          "mode": "list",
          "cachedResultName": "Buyer Contacts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_hKjUHNR_h27QrITATMeFLgHaEvzbWnRiP3qSF-jCyk/edit#gid=1576170789"
        },
        "options": {}
      },
      "id": "265019fe-7287-47c9-b0d6-d3bbf46a4b91",
      "name": "Sheets — Get Buyer Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1744,
        432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mCitxoRY2r1cdcjh",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Reads Clay-enriched buyer contacts from the separate Buyer Contacts tab. Clay cannot write back to its source sheet, so Find Person results are exported to this tab. Joined with Scored Accounts on Company Domain in the merge node below."
    },
    {
      "parameters": {
        "jsCode": "// Merge Buyer Contacts into Scored Accounts rows, joined on Company Domain.\n//\n// Clay cannot write enrichment results back to its source Google Sheet.\n// Workaround: Clay exports Find Person results to a separate 'Buyer Contacts' tab.\n// This node joins them here in n8n before the rest of WF4 runs.\n//\n// Domain normalization strips protocol, www prefix, and path/query suffixes so\n// that 'https://gong.io/', 'www.gong.io', and 'gong.io' all match each other.\n// Without this, Clay-enriched contacts with slightly different domain formats\n// silently fail to join and buyer fields remain empty downstream.\n\nfunction normalizeDomain(d) {\n  if (!d) return '';\n  return String(d).trim().toLowerCase()\n    .replace(/^https?:\\/\\//, '')\n    .replace(/^www\\./, '')\n    .replace(/[/?#].*$/, '');\n}\n\nconst accounts = $('Sheets — Get Enriched Accounts').all();\nconst contacts = $('Sheets — Get Buyer Contacts').all();\n\n// Build a lookup map: normalized domain → first matching contact\nconst contactMap = {};\nfor (const c of contacts) {\n  const domain = normalizeDomain(c.json['Company Domain']);\n  if (domain && !contactMap[domain]) contactMap[domain] = c.json;\n}\n\n// Merge contact fields into each account row\nconst merged = accounts.map(a => {\n  const domain  = normalizeDomain(a.json['Company Domain']);\n  const contact = contactMap[domain] || {};\n  return {\n    json: {\n      ...a.json,\n      'Buyer Name':  a.json['Buyer Name']  || contact['Buyer Name']  || '',\n      'Buyer Title': a.json['Buyer Title'] || contact['Buyer Title'] || '',\n      'Buyer Email': a.json['Buyer Email'] || contact['Buyer Email'] || ''\n    }\n  };\n});\n\nreturn merged;"
      },
      "id": "e9c4d2fb-ced2-46ea-bbe8-a4472644bda8",
      "name": "Code — Merge Buyer Contacts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        208
      ],
      "notes": "Joins Scored Accounts + Buyer Contacts on Company Domain. Prefers values already in the account row (manual overrides), falls back to Clay-enriched contact fields. Output feeds the IF guard as if buyer fields were always on the account row."
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-rows",
              "leftValue": "={{ $json['Company Domain'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "c2385e18-b465-4aab-82c7-96aa07063aac",
      "name": "IF — Has Enriched Accounts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1456,
        208
      ],
      "notes": "Guard against empty Sheets reads. Uses 'notEmpty' operator — no rightValue needed, no placeholder shown in UI. Stops execution when Sheets returns an empty item (no Status=Enriched rows). LIMIT 1 on the Sheets read above ensures exactly one account per execution — prevents batch corruption where multiple accounts get marked Scoring In Progress but only one gets scored."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_hKjUHNR_h27QrITATMeFLgHaEvzbWnRiP3qSF-jCyk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Scored Accounts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Domain": "={{ $json['Company Domain'] }}",
            "Status": "=Scoring In Progress",
            "row_number": 0
          },
          "matchingColumns": [
            "Company Domain"
          ],
          "schema": [
            {
              "id": "Date Flagged",
              "displayName": "Date Flagged",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal Count",
              "displayName": "Signal Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal Types",
              "displayName": "Signal Types",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal Summaries",
              "displayName": "Signal Summaries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee Count",
              "displayName": "Employee Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Funding Stage",
              "displayName": "Funding Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estimated ARR",
              "displayName": "Estimated ARR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tech Stack",
              "displayName": "Tech Stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CS Headcount",
              "displayName": "CS Headcount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Firmographic Score",
              "displayName": "Firmographic Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal Score",
              "displayName": "Signal Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tech Score",
              "displayName": "Tech Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Score",
              "displayName": "Total Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Name",
              "displayName": "Buyer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Title",
              "displayName": "Buyer Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Email",
              "displayName": "Buyer Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Verified",
              "displayName": "Email Verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal Summary",
              "displayName": "Signal Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Email",
              "displayName": "Generated Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Your Action",
              "displayName": "Your Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Your Notes",
              "displayName": "Your Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Send Date",
              "displayName": "Send Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reply Date",
              "displayName": "Reply Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Outcome",
              "displayName": "Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4feae079-0539-48a7-be1b-e86727d6f714",
      "name": "Sheets — Mark Scoring In Progress",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1280,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mCitxoRY2r1cdcjh",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Idempotency guard: mark row as in-progress BEFORE calling OpenRouter. If WF4 crashes mid-execution, the row stays as 'Scoring In Progress' and is NOT re-picked up on the next poll. Manual recovery: reset Status to 'Enriched' in the sheet."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function normalizeDomain(d) {\n  if (!d) return '';\n  return String(d).trim().toLowerCase()\n    .replace(/^https?:\\/\\//, '')\n    .replace(/^www\\./, '')\n    .replace(/[/?#].*$/, '');\n}\n\nfunction sanitize(val) {\n  if (val === null || val === undefined) return '';\n  return String(val)\n    .replace(/\\\"/g, \"'\")\n    .replace(/\\r?\\n/g, ' ')\n    .trim();\n}\n\nconst current = $input.item.json;\nconst domain = normalizeDomain(current['Company Domain'] || current.company_domain || '');\n\nconst allAccounts = $('Code — Merge Buyer Contacts').all();\nconst account = allAccounts.find(\n  a => normalizeDomain(a.json['Company Domain']) === domain\n)?.json || {};\n\nreturn {\n  json: {\n    'Company Name':     sanitize(account['Company Name']),\n    'Company Domain':   account['Company Domain'] || current['Company Domain'] || '',\n    'Employee Count':   account['Employee Count'] || '',\n    'Funding Stage':    sanitize(account['Funding Stage']),\n    'Estimated ARR':    sanitize(account['Estimated ARR']),\n    'CS Headcount':     account['CS Headcount'] || '',\n    'Tech Stack':       sanitize(account['Tech Stack']),\n    'Signal Types':     sanitize(account['Signal Types']),\n    'Signal Summaries': sanitize(account['Signal Summaries']),\n    'Buyer Name':       sanitize(account['Buyer Name']),\n    'Buyer Title':      sanitize(account['Buyer Title']),\n    'Buyer Email':      account['Buyer Email'] || ''\n  }\n};"
      },
      "id": "c3f39779-adb8-4cf1-b64d-560af52649c8",
      "name": "Code — Sanitize Account for Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        112
      ],
      "notes": "Sanitizes text fields before JSON interpolation in the OpenRouter scoring node. Now runs runOnceForEachItem so every account is independently processed — prevents silent item-drop if multiple accounts reach this node. Returns single json object (not array) as required by per-item mode."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"moonshotai/kimi-k2-0905\",\n  \"temperature\": 0,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a deterministic GTM scoring engine. Score the account only from the provided fields. Return ONLY one valid JSON object with exactly these fields: firmographic_score, signal_score, tech_score, total_score, tier, reasoning. firmographic_score must be an integer from 0 to 40. signal_score must be an integer from 0 to 45. tech_score must be an integer from 0 to 15. total_score must equal the sum of those three scores and must be an integer from 0 to 100. tier must be exactly one of: Tier 1, Tier 2, Tier 3, Discard. reasoning must be one sentence, 20 words maximum. If data is missing or unclear, score conservatively and do not guess. Do not include any text outside the JSON object.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Score this account:\\\\n\\\\nCompany: {{ $json['Company Name'] }}\\\\nDomain: {{ $json['Company Domain'] }}\\\\nEmployees: {{ $json['Employee Count'] }}\\\\nFunding Stage: {{ $json['Funding Stage'] }}\\\\nEstimated ARR: {{ $json['Estimated ARR'] }}\\\\nCS Headcount: {{ $json['CS Headcount'] }}\\\\nTech Stack: {{ $json['Tech Stack'] }}\\\\nSignals fired: {{ $json['Signal Types'] }}\\\\nSignal summaries: {{ $json['Signal Summaries'] }}\\\\n\\\\nSCORING RUBRIC:\\\\n\\\\nFIRMOGRAPHIC FIT:\\\\n- Employees 500+: 20pts | 200-499: 15pts | 100-199: 8pts | under 100: 0pts\\\\n- Funding Stage Public or Series C or later: 15pts | Series B: 10pts | Series A or earlier or unknown: 0pts\\\\n- ARR $100M+: 15pts | $50M-$99M: 8pts | under $50M or unknown: 0pts\\\\n- CS team 10+: 10pts | 5-9: 5pts | under 5 or unknown: 0pts\\\\n- Compute the raw firmographic subtotal from the rules above\\\\n- firmographic_score = min(raw firmographic subtotal, 40)\\\\n\\\\nSIGNAL STRENGTH:\\\\n- Public earnings or investor statement mentioning churn: 20pts\\\\n- G2 review mentioning forecast or surprise churn: 15pts\\\\n- CRO or VP CS LinkedIn post about NRR pain: 15pts\\\\n- Director or above CS or RevOps hire announced: 10pts\\\\n- Job posting for CS platform migration or Gainsight or ChurnZero: 10pts\\\\n- Each additional distinct signal beyond the first 3: +5pts\\\\n- Only count signals explicitly supported by Signals fired or Signal summaries\\\\n- Do not count the same signal twice\\\\n- Compute the raw signal subtotal from the rules above\\\\n- signal_score = min(raw signal subtotal, 45)\\\\n\\\\nTECH STACK FIT:\\\\n- Uses Gainsight or ChurnZero: 10pts\\\\n- Uses Segment, Amplitude, Mixpanel, or Heap: 5pts\\\\n- Uses Salesforce: 5pts\\\\n- Only award points for tools explicitly present in Tech Stack\\\\n- Compute the raw tech subtotal from the rules above\\\\n- tech_score = min(raw tech subtotal, 15)\\\\n\\\\nTOTAL SCORE:\\\\n- total_score = firmographic_score + signal_score + tech_score\\\\n- total_score must be 0-100 only\\\\n\\\\nTIER ASSIGNMENT:\\\\n- Tier 1: total_score 80-100\\\\n- Tier 2: total_score 60-79\\\\n- Tier 3: total_score 40-59\\\\n- Discard: total_score below 40\\\\n\\\\nReturn ONLY a valid JSON object in this exact format:\\\\n{\\\\n  \\\\\\\"firmographic_score\\\\\\\": 0,\\\\n  \\\\\\\"signal_score\\\\\\\": 0,\\\\n  \\\\\\\"tech_score\\\\\\\": 0,\\\\n  \\\\\\\"total_score\\\\\\\": 0,\\\\n  \\\\\\\"tier\\\\\\\": \\\\\\\"Discard\\\\\\\",\\\\n  \\\\\\\"reasoning\\\\\\\": \\\\\\\"\\\\\\\"\\\\n}\\\\n\\\\nBefore responding, verify:\\\\n- all score fields are integers\\\\n- no category exceeds its cap\\\\n- total_score equals the sum of the three category scores\\\\n- tier matches total_score exactly\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "03538c29-9998-440c-ad62-8e1dc5855b4e",
      "name": "OpenRouter — Score Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uM6SVfqA6c18NyzX",
          "name": "OpenRouter QuadSci"
        },
        "openRouterApi": {
          "id": "sU3T9CpIOkDnxbSj",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Parse OpenRouter JSON response, clamp scores to rubric caps,\n// recompute total score, and derive tier deterministically.\n\nconst response = $input.item.json;\nconst raw = response?.choices?.[0]?.message?.content || '{}';\n\nlet scores;\ntry {\n  scores = typeof raw === 'string' ? JSON.parse(raw) : raw;\n} catch (e) {\n  scores = {\n    firmographic_score: 0,\n    signal_score: 0,\n    tech_score: 0,\n    total_score: 0,\n    tier: 'Discard',\n    reasoning: 'Parse error — check OpenRouter response format'\n  };\n}\n\nfunction clampInt(value, min, max) {\n  const n = Number(value);\n  if (!Number.isFinite(n)) return min;\n  return Math.max(min, Math.min(Math.round(n), max));\n}\n\n// Clamp each scoring bucket to rubric max\nconst firmographic = clampInt(scores.firmographic_score, 0, 40);\nconst signal = clampInt(scores.signal_score, 0, 45);\nconst tech = clampInt(scores.tech_score, 0, 15);\n\n// Recompute total from clamped buckets\nconst total = firmographic + signal + tech;\n\n// Derive tier from recomputed total\nlet tier = 'Discard';\nif (total >= 80) tier = 'Tier 1';\nelse if (total >= 60) tier = 'Tier 2';\nelse if (total >= 40) tier = 'Tier 3';\n\n// Get the domain we just marked Scoring In Progress\nconst domain = $('Sheets — Mark Scoring In Progress').item.json['Company Domain'];\n\n// Find the matching merged account row\nconst allAccounts = $('Code — Merge Buyer Contacts').all();\nconst account = allAccounts.find(\n  a => String(a.json['Company Domain']).trim().toLowerCase() === String(domain).trim().toLowerCase()\n)?.json || {};\n\nreturn {\n  json: {\n    company_domain:     account['Company Domain'] || domain,\n    company_name:       account['Company Name'] || '',\n    employee_count:     account['Employee Count'] || '',\n    funding_stage:      account['Funding Stage'] || '',\n    estimated_arr:      account['Estimated ARR'] || '',\n    tech_stack:         account['Tech Stack'] || '',\n    cs_headcount:       account['CS Headcount'] || '',\n    signal_types:       account['Signal Types'] || '',\n    signal_summaries:   account['Signal Summaries'] || '',\n    buyer_name:         account['Buyer Name'] || '',\n    buyer_title:        account['Buyer Title'] || '',\n    buyer_email:        account['Buyer Email'] || '',\n    firmographic_score: firmographic,\n    signal_score:       signal,\n    tech_score:         tech,\n    total_score:        total,\n    tier:               tier,\n    reasoning:          scores.reasoning || ''\n  }\n};"
      },
      "id": "2555cf02-fa1a-4f08-b8af-76a64f552fa3",
      "name": "Code — Parse Score Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        112
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1_hKjUHNR_h27QrITATMeFLgHaEvzbWnRiP3qSF-jCyk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Scored Accounts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Domain": "={{ $json.company_domain }}",
            "Firmographic Score": "={{ $json.firmographic_score }}",
            "Signal Score": "={{ $json.signal_score }}",
            "Tech Score": "={{ $json.tech_score }}",
            "Total Score": "={{ $json.total_score }}",
            "Tier": "={{ $json.tier }}",
            "Status": "=Scored",
            "row_number": 0
          },
          "matchingColumns": [
            "Company Domain"
          ],
          "schema": [
            {
              "id": "Date Flagged",
              "displayName": "Date Flagged",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal Count",
              "displayName": "Signal Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal Types",
              "displayName": "Signal Types",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal Summaries",
              "displayName": "Signal Summaries",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Employee Count",
              "displayName": "Employee Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Funding Stage",
              "displayName": "Funding Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estimated ARR",
              "displayName": "Estimated ARR",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tech Stack",
              "displayName": "Tech Stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CS Headcount",
              "displayName": "CS Headcount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Firmographic Score",
              "displayName": "Firmographic Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Signal Score",
              "displayName": "Signal Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tech Score",
              "displayName": "Tech Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Score",
              "displayName": "Total Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tier",
              "displayName": "Tier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Buyer Name",
              "displayName": "Buyer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Title",
              "displayName": "Buyer Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Buyer Email",
              "displayName": "Buyer Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Verified",
              "displayName": "Email Verified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signal Summary",
              "displayName": "Signal Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Email",
              "displayName": "Generated Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Your Action",
              "displayName": "Your Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Your Notes",
              "displayName": "Your Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Send Date",
              "displayName": "Send Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reply Date",
              "displayName": "Reply Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Outcome",
              "displayName": "Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5bc357d7-4ed4-4a94-a9d0-64db0a2ccdd3",
      "name": "Sheets — Write Score + Tier",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -560,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mCitxoRY2r1cdcjh",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "tier-check",
              "leftValue": "={{ $json.tier }}",
              "rightValue": "Tier 3",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "discard-check",
              "leftValue": "={{ $json.tier }}",
              "rightValue": "Discard",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "70999707-7426-429c-aaae-fe4b96adde69",
      "name": "IF — Tier 1 or Tier 2?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "function normalizeDomain(d) {\n  if (!d) return '';\n  return String(d).trim().toLowerCase()\n    .replace(/^https?:\\/\\//, '')\n    .replace(/^www\\./, '')\n    .replace(/[/?#].*$/, '');\n}\n\nconst current = $input.first().json;\nconst domain = normalizeDomain(\n  current.company_domain || current['Company Domain'] || ''\n);\n\n// Recover the full scored object from Code — Parse Score Result when the\n// immediate input is just the Sheets writeback payload.\nconst parsedItems = $('Code — Parse Score Result').all();\nconst scored = parsedItems.find(\n  i => normalizeDomain(i.json.company_domain || i.json['Company Domain']) === domain\n)?.json || current;\n\nconst allContacts = $('Sheets — Get Buyer Contacts').all();\nconst matching = allContacts.filter(c =>\n  normalizeDomain(c.json['Company Domain']) === domain\n);\n\nif (matching.length === 0) {\n  return [{ json: { ...scored } }];\n}\n\nreturn matching.map(c => ({\n  json: {\n    ...scored,\n    buyer_name:  c.json['Buyer Name']  || scored.buyer_name  || '',\n    buyer_title: c.json['Buyer Title'] || scored.buyer_title || '',\n    buyer_email: c.json['Buyer Email'] || scored.buyer_email || ''\n  }\n}));"
      },
      "id": "76ac4ca4-6ee7-4d60-b8a3-a48cdf17573d",
      "name": "Code — Split Per Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ],
      "notes": "Fan-out node: takes one scored account item and emits one item per matching buyer contact. The HTTP node downstream fires once per output item — one WF5 execution per contact, one email per person."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/generate-email-copy",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "1af71a4a-2d3c-46f9-b307-851eb8485c90",
      "name": "HTTP — Trigger WF5 Copy Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ],
      "notes": "Fires once per item from Code — Split Per Contact. Uses $json (current per-contact item) — NOT a named node reference — so each call carries the correct buyer_name/title/email for that specific contact. WF5 must be ACTIVE before WF4 runs."
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger — Every 15 Min": {
      "main": [
        [
          {
            "node": "Sheets — Get Enriched Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Get Enriched Accounts": {
      "main": [
        [
          {
            "node": "Sheets — Get Buyer Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Get Buyer Contacts": {
      "main": [
        [
          {
            "node": "Code — Merge Buyer Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Merge Buyer Contacts": {
      "main": [
        [
          {
            "node": "IF — Has Enriched Accounts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Has Enriched Accounts?": {
      "main": [
        [
          {
            "node": "Sheets — Mark Scoring In Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Mark Scoring In Progress": {
      "main": [
        [
          {
            "node": "Code — Sanitize Account for Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Sanitize Account for Scoring": {
      "main": [
        [
          {
            "node": "OpenRouter — Score Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter — Score Account": {
      "main": [
        [
          {
            "node": "Code — Parse Score Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Parse Score Result": {
      "main": [
        [
          {
            "node": "Sheets — Write Score + Tier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets — Write Score + Tier": {
      "main": [
        [
          {
            "node": "IF — Tier 1 or Tier 2?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — Tier 1 or Tier 2?": {
      "main": [
        [
          {
            "node": "Code — Split Per Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Split Per Contact": {
      "main": [
        [
          {
            "node": "HTTP — Trigger WF5 Copy Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "94e95817-1150-4a4e-9f3c-c9562835df12",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2937f53cf7d4f752601b86a3c3b2ce9edd949a058b20d977b6b8328c69cff778"
  },
  "id": "LykPEXUmyQfTPWXR",
  "tags": [
    {
      "updatedAt": "2026-05-25T23:16:57.705Z",
      "createdAt": "2026-05-25T23:16:57.705Z",
      "id": "lRKTKUtOG1wLcOi4",
      "name": "quadsci"
    }
  ]
}